<!doctype html>
<html>
<head>
	<title>main.handlebars page</title>
    <div class="topnav" align="center" style="background-color: #f1f1f1">
        <a href="/"><h1 align="center" style="background-color: #f1f1f1">WEATHER VAULT</h1></a>
        <a href="/guides_certs" class="button"><i class="fa fa-sign-in"> Login |</i></a>
        <a href="/home" class="button"><i class="fa fa-map-marker"> Sign Up</i></a>
        <a href="/update-guide" class="button"><i class="fa fa-user-plus"> Account Info</i></a>
    </div>
</head>
<body>
	{{{body}}}
</body>
</html>