<!doctype html>
<html>
<head>
	<title>main.handlebars page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <div class="topnav" align="center" style="background-color: #f1f1f1">
        <a href="/"><h1 align="center" style="background-color: #f1f1f1">WEATHER VAULT</h1></a>

        <a href="/guides_certs" class="button"><i class="fa fa-sign-in"> Login |</i></a>
        <a href="/update" class="button"><i class="fa fa-user-plus"> Sign up |</i></a>
        <a href="/home" class="button"><i class="fa fa-map-marker"> Locations |</i></a>
    </div>
</head>
<body>
	{{{body}}}
</body>
</html>