<html>
{{#each foo}}
    {{this}}
{{/each}}
<div align="center">
    <h3>Become a Weather Vault Guide</h3>
    <form id="addGuide" action="/guides" method="post">
        <input required placeholder="first name" type="text" name="firstName"><br>
        <input required placeholder="last name" type="text" name="lastName"><br>
        <input required placeholder="email" type="text" name="email"><br>
        <input required placeholder="password" type="text" name="password"><br>
        <input required placeholder="zip code" type="text" name="zipCode"><br>
        <br>
        <select name="climate">
        {{#each climates}}
            <option value="{{climate}}">{{climate}}</option>
        {{/each}}
        </select>
        <br>
        <br>
        <input type="submit" value="become a guide">
    </form>
    <br/>
</div>