<html>
<div align="center">
    <h3>Log In </h3>
    <form id="addGuide" action="/log_in" method="post">
        <input id="nameId" required placeholder="email" type="text" name="email">
        <br>
        <input required placeholder="password" type="text" name="password">
        <br>
        <br>
        <input type="submit" value="Log in" onclick="logIn()">
    </form>
    <br/>
</div>

<script src="log_in.js"></script>