<html>
<div align="center">
    <h3>Log In </h3>
    <label for='logIn'></label><select id='logIn' name="signIn">
    <form id="addGuide" action="/log_in" method="post">
        <input id="nameId" required placeholder="first name" type="text" name="firstName">
        <input required placeholder="last name" type="text" name="lastName">
        <input required placeholder="password" type="text" name="password">
        <br>
        <input type="submit" value="Log in" onclick="logIn()">
    </form>
    <br/>
</div>

<script>
    function LogIn() {
        let firstName = document.getElementById('logIn').value;
        console.log(firstName)
        window.location = '/log_in/firstName/' + firstName
    }
</script>